.App{
  display: flex;
  flex-direction: column;
  width: 100vw;;
  height: 100vh;
}
.header{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 5px 10px;
  border-bottom: 1px solid black;
}
.footer{
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid black;
}
.pageContent{
  padding-left: 20px;
  overflow: hidden;

}
.sidebar{

}
.sidebar-position{
  display: flex;
  flex: 1;
  /* //background-color: rgb(192, 101, 116,0.4); */
  justify-content: flex-start;
  align-items: flex-start;
}